body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.inner-page {
	color: #000000;

	background-color: #f8f5f2;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0 ;
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.main-header {
	margin-bottom: 75px;
}

.inner-page .main-header {
	margin-bottom: 60px;

	background-color: #000000;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.inner-page .main-navigation {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.main-header-logo {
	order: 2;

	width: 371px;
	height: 155px;
}

.inner-page .main-header-logo {
	order: 0;

	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;

	background-color: #000000;
}
.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}	

.site-navigation {
	width: 620px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation {
	width: 140px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.iner-page .user-navigation {
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	min-height: 170px;
	margin: 0;
	padding: 0;

	list-style: none;
	
}

.feature-item {
	width: 300px;
	text-align: center;
}

.feature-item h3 {
	font-size: 30px;
}

.index-columns h3 {
	font-size: 30px;
	line-height: 42px;
}

.columns-news {
	display: flex;
	justify-content: space-between;	
	padding: 60px 80px;
	margin-bottom: 	35px;

	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../img/pattern-light.jpg);
	background-position: 0 0;
	background-repeat: repeat;	
}

.columns-contacts {
	display: flex;
	justify-content: space-between;	
	padding: 60px 80px;
	margin-bottom: 70px;
	

	color: #000000;

	background-color: #f8f5f2;
	background-image: url(../img/pattern-light.jpg);
	background-position: 0 0;
	background-repeat: repeat;	
}

.news {
	width: 380px;
}

.news-list {
	list-style: none;
}

.news-item time {
	text-transform: none;
}

.galery {
	width: 300px;
}

.galery-content {
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.contacts {
	width: 380px;	
}

.appointment {
	width: 	300px;
}
.appointment-item input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	
	font-size: 30px;
	line-height: 42px;
}

.breadcrumps {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	list-style: none;
}

.breadcrumps a {
	color: #000000;
}

.breadcrumps a:hover,
.breadcrumps a:focus {
	text-decoration: underline;
}

.breadcrumps-current {
	color: #aba9a7;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 180px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter-option {
	margin-bottom: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000000;
	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: #f8f8f8;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price b {
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	background-color: #e5e5e5;
}

.pagination-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination-list a {
	color: #ffffff;

	background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
	background-color: #663d15;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;

	background-color: #ffffff;
}

.catalog-item-price .button {
	line-height: 20px;
	color: #ffffff;
}

.product-photo {
	width: 460px;
}

.product-photo-preview {
	list-style: none;
}

.product-photo-preview {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-photo-full {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
	color: #aeaeae;
	text-align: right;
}

.product-price b {
	line-height: 24px;
	background-color: #e5e5e5;
	text-align: center;
}

.product-info {
	width: 390px;
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
}

.product-info ul {
	list-style: none;
}

.main-footer {
	padding: 60px 0;
	color: #ffffff;
	
	background-color: #212121;
	background-image: url("../img/pattern-night.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.inner-page .main-footer {
	margin-top: 45px;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	margin: 0;
	width: 320px;
	margin-right: 80px;
}

.foter-contacts a {
	color: #ffffff;
    text-decoration: underline;
}

.foter-contacts a:hover,
.foter-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	width: 145px;
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyright {
	width: 150px;
	text-align: center;
	margin-left: auto;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	background-color: #f8f3f0;
	background-image: url("img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}